/* black: #000
white: fff
orange: #F7901E
font: "Red Hat Display",sans-serif
tags: #30C966
different background section in main: d6d6d6 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Red Hat Display', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: #fff;
  color: #000;
}
header {
  background-color: #000;
  color: #fff;
  border-bottom: 2px solid #f7901e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5px;

  margin: 0 auto;
}

header img {
  width: 100px;
  height: 100px;
  margin: 5px 10px;
}
header nav {
  /* display: flex;
  justify-content: ; */
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;

  margin-top: 2rem;
  margin-right: 1rem;
  gap: 10px;
}
header nav ul button {
  background: #f7901e;
  padding: 4px;
  border-radius: 3px;
  /* border: none; */
  border-style: solid;
  border-color: #ee9e42;
}

header nav ul a {
  color: #fff;
  text-decoration: none;
}

header nav ul a:hover {
  background: #000;
  color: #f7901e;
  padding: 4px;
  margin: 0;
  size: 100%;
  border-radius: 3px;
}
header nav ul button:hover {
  background: none;

  border-radius: 3px;
  border: solid;
  border-color: #f7901e;
}
